<h1>Edit the Scorecard</h1>

<% if !@scorecard.errors.full_messages.empty? %>
    <div>
        Errors: 
            <ul>
                <% @scorecard.errors.full_messages.each do |error| %>
                    <li><%= error %></li>
                <% end %>
            </ul>
    </div>
<% end %>

<%= form_with model: @scorecard, local: true do |f| %>
    <%= f.label :course %>
    <%= f.text_field :course %>

    <br><br>
    
    <%= f.label :date %>
    <%= f.text_field :date %>

    <br><br>

    <%= f.label :strokes %>
    <%= f.text_field :strokes %>

    <br><br>

    <%= f.label :score %>
    <%= f.text_field :score %>

    <br><br>

    <%= f.submit %>
<% end %>

<br>

<%= form_with model: @scorecard, method: :delete do |f| %>
  <%= f.submit "Delete Scorecard" %>
<% end %>