<h2>Scorecard for: <%= @scorecard.user.username %></h2>
<br><br>

<h2><%= @scorecard.course %></h2>

<h3>Date: <%= @scorecard.date.strftime("%b %d, %Y") %></h3>

<h3>Strokes: <%= @scorecard.strokes %></h3>

<h3>Score: <%= @scorecard.score %></h3>


<%= link_to "Edit", edit_scorecard_path(@scorecard) %>
<br>
<%= link_to "All Scorecards", scorecards_path %>
<br>
<%= link_to "Back", :back %>