<%= render partial: 'layouts/errors', locals: {instance: @bag} %>

<%= form_with model: @bag, local: true do |f| %>

    <%# <h3>Select the bag you want the disc added to:</h3>
    <%= f.collection_select :bag_id, Bag.belongs_to_user(current_user.id), :id, :name %>

    <%= f.number_field :user_id, id: :bag_user_id, value: current_user.id, type: :hidden %>

    <%= f.fields_for :discs, @bag.discs.build do |d|  %>

        <%= d.label :disc_name %>
        <%= d.text_field :disc_name %>
        <br><br>

        <%= d.label :brand %>
        <%= d.text_field :brand %>
        <br><br>

        <%= d.label :plastic %>
        <%= d.text_field :plastic %>
        <br><br>

        <%= d.label :weight %>
        <%= d.text_field :weight %>
        <br><br>

        <%= d.label :speed %>
        <%= d.number_field :speed %>
        <br><br>

        <%= d.label :glide %>
        <%= d.number_field :glide %>
        <br><br>

        <%= d.label :turn %>
        <%= d.number_field :turn %>
        <br><br>

        <%= d.label :fade %>
        <%= d.number_field :fade %>
        <br><br>

    <% end %>

    <%= f.submit "Add Disc" %>

<% end %>


