

<h3>Disc Name: <%= @disc.disc_name %></h3>
<h3>Brand: <%= @disc.brand %></h3>
<h3>Plastic: <%= @disc.plastic %></h3>
<h3>Weight: <%= @disc.weight %></h3>
<h3>Speed: <%= @disc.speed %></h3>
<h3>Glide: <%= @disc.glide %></h3>
<h3>Turn: <%= @disc.turn %></h3>
<h3>Fade: <%= @disc.fade %></h3>

<%= link_to "Edit", edit_disc_path(@disc) %>
